<!-- Controls toolbar partial for GPS Tracker UI -->
<div class="controls-toolbar">
  <button class="control-button" id="routeToggle">SHOW route</button>
  <button class="control-button" id="landmarksToggle">HIDE landmarks</button>
  <button class="control-button" id="portosToggle">SHOW toilets</button>
  <button class="control-button" id="centerToggle">Center Map</button>
</div>